<!DOCTYPE html>
<head>
  <title>Sinatra Assessment</title>
</head>
<body>
<form action="/items" method="post">
  <input type="text" name="new_product">
  <input type="submit" value="Create Product">
</form>
</body>
</html>